.salaryInputBlock {
  position: relative;
  @include input-style();
  input {
    width: 100%;
  }
}

.arrowBlock {
  position: absolute;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 6.5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
