.jobCardPage {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transformCard {
  h2 {
    a {
      font-size: 28px;
      pointer-events: none;
      color: $c-black;
    }
  }
}

.description {
  @include block-style();
  p {
    @include font-style($size: $font-size-regular, $weight: 400);
  }
  b {
    @include font-style($size: $font-size-heading, $weight: 700);
  }
}
