.favorites {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
  flex-grow: 1;
}

.emptyFavorites {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.notFoundImg {
  @include bg-image("../../assets/icons/not_found_ico.png");
  width: 240px;
  height: 230px;
}

.toMainBtn {
  @include button-style($font-color: $c-blue-600, $bg-color: $c-blue-100);
}
