.jobCard {
  @include block-style();
  display: flex;
  flex-direction: column;
  gap: 12px;
  span {
    @include font-style($size: $font-size-regular);
  }
  @media screen and (max-width: 500px) {
    @include font-style($size: $font-size-small);
  }
}

.firmName {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 10px;
}

h2 a {
  @include font-style(
    $size: $font-size-heading,
    $weight: 600,
    $color: $c-blue-500
  );
  text-decoration: none;
  &:hover {
    color: lighten($color: $c-blue-500, $amount: 10%);
  }
  @media screen and (max-width: 500px) {
    @include font-style(
      $size: $font-size-regular,
      $weight: 600,
      $color: $c-blue-500
    );
  }
}

li::marker {
  margin: 0;
}

.payment {
  span {
    @include font-style(
      $font: $font-inter-semibold,
      $size: $font-size-regular,
      $weight: 600
    );
  }
  li {
    font-size: $font-size-regular;
  }
  display: flex;
  gap: 12px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    span {
      @include font-style(
        $font: $font-inter-semibold,
        $size: $font-size-small,
        $weight: 600
      );
    }
    li {
      font-size: $font-size-small;
    }
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  @media screen and (max-width: 500px) {
    span {
      font-size: $font-size-small;
    }
  }
}
