.jobCard {
  @include block-style();
}

.firmName {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

h2 a {
  @include font-style(
    $size: $font-size-heading,
    $weight: 600,
    $color: $c-blue-500
  );
  text-decoration: none;
  &:hover {
    color: lighten($color: $c-blue-500, $amount: 10%);
  }
}

li::marker {
  margin: 0;
}

.payment {
  display: flex;
  gap: 12px;
}

